body {
	background-image: url('../images/legendofzelda.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.quiz-section {
	background-color: #fff0b3;
	height: 500px;
	width: 600px;
	border-style: inset;
	border-width: 2px;
	border-color: black;
	margin-top: 100px;
	margin-left: 100px;
}

.introduction h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	text-align: center;
}

.introduction p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	width: 500px;
	padding-left: 50px;
	text-align: center;
}

#start {
  	text-align: center;
 	width: 100px;
 	margin-left: 245px;
 	margin-top: 100px;
 	background-color: #66d9ff;
    font-size: 25px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
}

#start:active {
	text-align: center;
 	width: 100px;
 	margin-left: 245px;
 	margin-top: 100px;
 	background-color: #0099cc;
    font-size: 25px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
}

#question {
	font-family: 'Dancing Script', cursive;
	padding-top: 10px;
	font-size: 23px;
	font-weight: bold;
	width: 450px;
	padding-left: 80px;
	display: none;
	text-align: center;
}

#submit {
	text-align: center;
 	width: 100px;
 	margin-left: 245px;
 	margin-top: 50px;
 	background-color: #66d9ff;
    font-size: 25px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    display: none;
}

#submit:active {
	text-align: center;
 	width: 100px;
 	margin-left: 245px;
 	margin-top: 50px;
 	background-color: #0099cc;
    font-size: 25px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
}

#correctAnswer {
	display: none;
}

#incorrectAnswer {
	display: none;
}


